.topbar{
  height: 75px;
  background-color:rgb(245, 245, 245);
  top:0;
  position:fixed;
  right:0;
  left:0;
  color:rgb(68, 68, 68);  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.notif{
  color: rgb(68, 68, 68); ;
  border: none;
  cursor: pointer;
  background-color: hsla(0,0%,100%,0);
  font-size: large;
}
.arrow {
  border: solid rgb(68, 68, 68);  ;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 1vw;
}
.profile-pic{
    max-width: 2.5em;
    border-radius: 50%;
}
.dropbtn {
    color: rgb(68, 68, 68); ;
    border: none;
    cursor: pointer;
    background-color: hsla(0,0%,100%,0);
    float: right;
    font-size: large;
  }
  
.dropdown {
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}
.dropdown-content {
  margin-top: 2em;
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}